@import "/styles.css";

#forgotPasswordHolder {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 7%;
}

html:has(#forgotPasswordHolder) {
    max-height: 100vh;
    overflow: hidden;
}

#forgotPasswordShape {
    background: var(--black-100, #100d25);
    width: 40rem;
    padding: 1.5rem 1.75rem;
    border-radius: .75rem;
    z-index: 999;
}

#CAPTCHA {
    margin-top: 1rem;
    align-self: center;
}

#forgotPasswordButton {
    margin: 2rem 0 0rem 0;
    font-size: var(--general--font-size);
}